@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: #212121;
    font-family: 'NotoSansKR';
  }
}

@layer utilities {
  /* 폰트 사이즈 */
  .text-XLm {
    @apply text-[18px] font-medium;
  }
  .text-xLr {
    @apply text-[18px] font-normal;
  }
  .text-Lm {
    @apply text-[16px] font-medium;
  }
  .text-Lr {
    @apply text-[16px] font-normal;
  }
  .text-Mm {
    @apply text-[14px] font-medium;
  }
  .text-Mr {
    @apply text-[14px] font-normal;
  }
  .text-Ml {
    @apply text-[14px] font-light;
  }
  .text-sr {
    @apply text-[12px] font-normal;
  }

  /* 폰트 색상 */
  .text-active {
    color: #0d99ff;
  }
  .text-normal {
    color: #212121;
  }
  .text-sub {
    color: #808080;
  }
  .text-shadow {
    text-shadow: rgb(255, 255, 255) -1px 0px, rgb(255, 255, 255) 0px 1px,
      rgb(255, 255, 255) 1px 0px, rgb(255, 255, 255) 0px -1px;
    backdrop-filter: blur(1px);
  }

  /* 그림자 */
  .shadow-05134 {
    @apply shadow-[0px_5px_13.3px_4px_#D4D4D496];
  }

  /* 배경 색상 */
  .bg-black {
    background-color: #212121;
  }
  .bg-main {
    background-color: #0d99ff;
  }
  .bg-gray {
    background-color: #e6e6e6;
  }
  .bg-sub {
    background-color: #ebf0f7;
  }

  .multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* 인풋 스타일 */

  .defaultInput {
    width: 100%;
    height: 47px;
    color: #aeaeae;
    box-shadow: 0px 5px 13.3px 4px rgba(212, 212, 212, 0.59);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0 15px;
    @apply text-Mm;
  }
  .defaultInput:focus {
    outline: none;
    color: #111111;
    @apply text-Mm;
  }

  #scrollbar-hidden {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }

  #scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  /* 키프레임 애니메이션 */
  @keyframes bounceUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-bounce-delay-0 {
    animation: bounceUpDown 1.2s ease-in-out infinite;
    animation-delay: 0s;
  }

  .animate-bounce-delay-1 {
    animation: bounceUpDown 1.2s ease-in-out infinite;
    animation-delay: 0.4s;
  }

  .animate-bounce-delay-2 {
    animation: bounceUpDown 1.2s ease-in-out infinite;
    animation-delay: 0.8s;
  }
}

/* 복사 금지 스타일 지정*/
html,
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  touch-action: manipulation; /* 터치 이벤트 제어 */
}

input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

